<ul class="site-nav-dropdown">
    {% for link_child_item in linklists[link_child].links %}
    <li class="menu-lv-2{% if linklists[link_child_item.handle] != empty %} dropdown{% endif %}">
        <a class="{% if linklists[link_child_item.handle] != empty %}menu__moblie{% endif %} {% if link_child_item.active %}current{% endif %} " href="{{ link_child_item.url }}">
            {{ link_child_item.title }}
            
            {% if linklists[link_child_item.handle] != empty %}
            <span class="icon-dropdown" data-toggle-menu-mb>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </span>
            {% endif %}
        </a>
        
        {% if linklists[link_child_item.handle] != empty %}
        
        <div class="sub-menu-mobile menu-mb-translate">
            <div class="menu-mb-title">
                <span class="icon-dropdown">
                <i class="fa fa-angle-left" aria-hidden="true"></i>
                </span>
                {{ link_child_item.title }}
            </div>
            
            <ul class="site-nav-dropdown">
                {% for n in linklists[link_child_item.handle].links %}                
                <li class="menu-lv-3">
                    <a class="{% if linklists[n.handle] != empty %}menu__moblie{% endif %} {% if n.active %}current{% endif %} " href="{{ n.url }}" >
                        {{ n.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>