<div id="slidedown-cart"> 
      <div class="cart-title">
        <a href="javascript:void(0)" title="{{ 'products.zoom.close' | t }}" class="close-cart close">
          {% include 'icon-close' %}
          <span>
            {{ 'products.zoom.close' | t }}
          </span>
        </a>

        <h5>
          {{ 'cart.general.mini_cart_title' | t }}
        </h5>
      </div>

      <div class="no-items">
        <p class="cart_empty">
          {{ 'cart.general.empty' | t }}
        </p>
        <div class="text-continue">
          <a class="btn btn-continue" {% if settings.redirect_button == 'go_back' %}href="javascript:void(0)" onclick="window.history.back();"{% elsif settings.redirect_button == 'link_to' %} href="{{ settings.link_to_redirect }}"{% else %}href="javascript:void(0)" id="reload_page"{% endif %}>
            {{ 'cart.general.continue_shopping' | t }}
          </a>
        </div>
      </div>


      <div class="has-items">
        <ul class="mini-products-list">  
          {% for item in cart.items %}
          <li class="item" id="cart-item-{{item.id}}">
            <a href="{{item.url}}" class="product-image">
              <img src="{{ item.image | product_img_url: '160x' }}" alt="{{item.title}}">
            </a>

            <div class="product-details">
              <a href="javascript:void(0)" title="{{ 'cart.general.remove' | t }}" class="btn-remove">
                {% include 'icon-close' %}
              </a>

              <a class="product-name" href="{{item.url}}">
                {{ item.product.title }}
              </a>

              <div class="option">
                {% if item.product.variants.size != 0 %}
                {% unless item.variant.title contains 'Default' %}
                <small>{{ item.variant.title }}</small>
                {% endunless %}
                {% endif %}
              </div>

              <div class="cart-collateral">
                <span class="qtt">
                  {{item.quantity}} X
                </span>
                <span class="price">
                  {{item.price | money}}
                </span>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>

        <div class="summary">                
          <div class="total">
            <span class="label">
              <span>
                {{ 'cart.label.total' | t }}:
              </span>
            </span>
            <span class="price">
              {{cart.total_price | money}}
            </span> 
          </div>
        </div>

        {% if settings.enable_checkbox %}
        <div class="checkbox-group">
          <input class="conditions" type="checkbox" name="conditions">
          <label>{{ settings.checkbox_text }}</label>
        </div>
        <div class="actions">
          <button class="btn btn-checkout show" onclick="window.location='/checkout'">
            {{ 'cart.general.checkout' | t }}
          </button>
          <a class="btn btn-view-cart" href="/cart">
            {{ 'cart.general.view_cart' | t }}
          </a>      
        </div>
        {% else %}
        <div class="actions">
          <button class="btn btn-checkout" onclick="window.location='/checkout'">
            {{ 'cart.general.checkout' | t }}
          </button>
          <a class="btn btn-view-cart" href="/cart">
            {{ 'cart.general.view_cart' | t }}
          </a>      
        </div>
        {% endif %}


      </div>
    </div>