{% assign isInnovations = false %}   
{% assign formEmbedded = product.metafields.accentuate.form_embed_code %} 
{% assign productTags = product.tags | join: ', ' %}
{% if productTags contains 'innovations' %}
{% assign isInnovations = true %}   
{% else %}
{% endif %}  

{% assign isAffiliate = false %}   
{% if productTags contains 'affiliate' %}
{% assign isAffiliate = true %}   
{% else %}
{% endif %}    

<div class="course-video-hero" id="course-video-hero">
  <div class="no-padding">                      
    {% if product.metafields.course_video.course_video != blank %}  
      {% for video in product.metafields.course_video.course_video %}
        <div class="video-wrapper with-popup p-relative">       
          <div class="p-video">
            <video id="course-video" class="course-video" autoplay loop>
              <source src="{{ video.src }}" type="video/mp4">   
              <source src="{{ video.src }}" type="video/ogg">
            </video>
            <a class="jas-popup-url" href="{{ video.src }}"><i class="fas fa-play icons" aria-hidden="true"></i></a>
            <h4 class="video-summary">Watch the instruction video</h4>
          </div>                                                                                                                    
        </div>  
      {% endfor %}
    {% endif%}
  </div>
</div>

{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = current_variant.price -%}


<div class="container product-section p-relative">
  <div itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">  
    <meta itemprop="name" content="{{ product.title | escape }}" />
    <meta itemprop="sku" content="{{ product.variants.first.sku }}"/>
    <meta itemprop="gtin14" content="{{ product.variants.first.barcode }}"/>
    <meta itemprop="brand" content="{{ product.vendor }}"/>
    <meta itemprop="description" content="{{ product.description | strip_html | escape }}"/>
    <meta itemprop="image" content="https:{{ product.featured_image.src | img_url: 'grande' }}"/>
    <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ product.price |money_without_currency  |strip_html }}">
      <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition" />
      {% if product.available == true %}<meta itemprop="availability" content="http://schema.org/InStock"/>{% else %}<meta itemprop="availability" content="http://schema.org/OutOfStock"/>{% endif %}
    </div>
  </div>
    
  <div class="grid-uniform product-single">
    <div class="product-image-section grid__item wide--two-fifths post-large--two-fifths large--two-fifths">
      <div class="product-img-box">
        <div style="position: relative;" class="wrapper-images">
          <div class="product-photo-container slider-for">
            {% for image in product.images %}
            <div class="thumb filter-{{ image.alt | handle }}">
              <a data-zoom class="fancybox" rel="gallery1" href="{{ image | img_url: 'master' }}" data-fancybox="images">
                <img id="product-featured-image-{{image.id}}" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}" >
              </a>
            </div>
            {% endfor %}
          </div>               
        </div>
        <div class="slider-nav more-view-wrapper{% if product.images.size == 1 %} hidden{% endif %}"  data-rows="5" data-vertical="false">
          {% for image in product.images %}
          <div class="item filter-{{ image.alt | handle }}" data-image-id="{{image.id}}" data-image-index="{{forloop.index0}}">
            <a href="javascript:void(0)" data-image="{{ image.src | product_img_url: 'master' }}" data-zoom-image="{{ image.src | product_img_url: 'master' }}">
              <img src="{{ image.src | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}">
            </a>
          </div>
          {% endfor %}
        </div> 
      </div>
    </div>

    <div class="product_single_detail_section grid__item wide--three-fifths post-large--three-fifths large--three-fifths">
      <h1 class="product-single__title">{{ product.title }}</h1>        
      {% if product.description %}
      <div class="product-description rte p-summary p-relative">
        {{ product.description }}        
      </div>
      <p class="pdp-msg">
        <span class="learn-more-label">Learn more<a href="" class="learn-more" style="color: #E51446;"> here.</a></span>
        <span class="less-label"><a href="" class="less" style="color: #E51446;">Less</a></span>
      </p>
      {% endif %}

      {% assign variant = product.selected_or_first_available_variant %}
      <link  href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
      
      
      {% if isInnovations==true and formEmbedded %}
      <div class="">
        <div class="selector-arrow">
          <select class="single-option-selector" id="regionSelector">
            <option value="">Select your region</option>                    
            <option value="USA">USA</option>
            <option value="Australia">Australia</option>
            <option value="Canada">Canada</option>
            <option value="Europe">Europe</option>                    
            <option value="UK">UK</option>
            <option value="Other">Rest of world</option>
          </select>
        </div>
      </div>
      {% endif %}       

      {% if isInnovations!=true and isAffiliate!=true %}
        <div class="product_single_price">
          {% include 'product-price', variant: current_variant %}               
        </div>
      {% endif %}
      


      {% form 'product', product, id: "AddToCartForm", class: "product-form" %}
        <div class="selector-qty-wrapper {% if isInnovations==true %}d-none{% endif %}">
          <div class="selector-wrapper-secton {% if product.variants.size == 1 %}no-variants{% endif %}">
            {% assign hide_default_title = false %}
            {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
            {% assign hide_default_title = true %}
            {% endif %}           
            {% if settings.enable_color_swatch %}           
            {% for option in product.options %}
            {% include 'swatch' with option %}
            {% endfor %}
            {% endif %}              
            <select name="id" id="productSelect" class="product-single__variants" {% if hide_default_title %} style="display:none"{% endif %}>
              {% for variant in product.variants %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
              {% endfor %}
            </select>          
          </div>
          {% if isInnovations!=true and isAffiliate!=true %}
              {% include 'qty' %}
          {% endif %}
        </div>
      
        <div class="product_button_section {% if isInnovations==true %}d-none{% endif %}">
          {% if section.settings.enable_cart %}
          <button type="submit" name="add" id="AddToCart" class="btn">
            <i class="fas fa-shopping-cart" aria-hidden="true"></i><span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
          </button>
          {% endif %}
          {% if section.settings.payment_button %}
          {{ form | payment_button }}
          {% endif %}
        </div>    


        {% if isAffiliate==true %}
        <br />
        <a href="{{ product.metafields.accentuate.affiliate_url }}" class="btn btn-primary" >Buy Now</a>
        {% else %}
          {% if isInnovations==true %}

            {% if formEmbedded %}
              <div id="innovationsEnquiryWrapper" class="d-none">
                <br />
                <h3>Contact us to get a price</h3>
                <br />
                <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
                <button type="button" class="btn btn-primary" onclick="KlaviyoSubscribe.attachToModalForm('#k_id_modal',{delay_seconds: 0.01, hide_form_on_success: true, ignore_cookie: true, success_message: false});">Make an Enquiry</button>
              </div>
            {% else %}
              <br />
              <h3>Contact us to get a price</h3>
              <br />
              <a href="/pages/contact" class="btn btn-primary" >Make an Enquiry</a>
            {% endif %}
          {% endif %}      
        {% endif %}

<!--       
        {% if isInnovations!=true and isAffiliate!=true %}
            {% if section.settings.enable_cart %}
            {% endif %}
            {% if section.settings.payment_button %}
            {{ form | payment_button }}
            {% endif %}
        {% else %}
      
          {% if isInnovations==true %}
            <br />
            <h3>Contact us to get a price</h3>
            <br />
            <a href="/pages/contact" class="btn btn-primary" >Make an Enquiry</a>
          {% endif %}
      
          {% if isAffiliate==true %}
            <br />
            <a href="{{ product.metafields.accentuate.affiliate_url }}" class="btn btn-primary" target="_blank" >Buy Now</a>
          {% endif %}      
        {% endif %}
      {% endform %} 
       -->
<!-- 	  {% if product.metafields.note_for_equipment.note_for_equipment != blank %}	
      <div class="p-equipment-note mt-40">
        <p class="f-bk p-note">Note:</p>
        {{ product.metafields.note_for_equipment.note_for_equipment.html }}
      </div>      
      {% endif %} -->
      
    </div> 
  </div>     
<!--   <div class="dt-sc-hr-invisible-large"></div>      -->
  

  
</div>


{% if isInnovations==true and formEmbedded %}
  <style>

    .klaviyo_modal .klaviyo_inner {
      position: fixed;
      top: 3%;
      left: 50%;
      width: 600px;
      margin-left: -300px;
      border: none;
      padding: 0px;
      background-color: #FFF;
      height: 90vh;    
      max-height: 90vh;
      overflow: scroll;
    }
    .klaviyo_modal form {
      max-height: 100%;
    }  
    
    .globo-form-app.boxed-layout {
      box-shadow: none !important;
    }

    #regionSelector{
      background-color: #efefef;
      border-color: #efefef;
      margin-bottom: 15px;
      width: 100%;
      max-width: 320px;
    }

  </style>

  <div class="klaviyo_modal" id="k_id_modal" style="display:none;">
    <div class="klaviyo_inner">
      <a href="#" class="klaviyo_close_modal klaviyo_header_close">×</a>
      {{ product.metafields.accentuate.form_embed_code }}
    </div>
  </div>

{% endif %} 





{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
{{ 'jquery.fancybox.min.js' | asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
      add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
      sold_out : "{{ 'products.product.sold_out' | t }}",
      unavailable : "{{ 'products.product.unavailable' | t }}"
    } 
                       });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });


    {% if settings.enable_linked_option %}
    {% if product.available and product.options.size > 1 %}
    Shopify.linkOptionSelectors({{ product | json }});
    {% endif %}
    {% endif %}

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
                                         {% endif %}
                                         // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                         {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                         $('.selector-wrapper').hide();
    $('.selector-wrapper-secton').hide();
    {% endif %}

    // Auto-select first available variant on page load. Otherwise the product looks sold out.
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
    {% assign found_one_in_stock = true %}
    {% for option in product.options %}
    $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
    {% endfor %}
    {% endif %}
    {% endfor %}

    $('.product-single .single-option-selector').wrap('<div class="selector-arrow">');
  });   

  $(".bundleCTA").click(function() {
    $([document.documentElement, document.body]).animate({
      scrollTop: $("#bundler-target-element div").offset().top
    }, 1000);
  });
  
    
  $('#regionSelector').change(function () {
    var optionSelected = $(this).find("option:selected");
    var valueSelected  = optionSelected.val();
    var textSelected   = optionSelected.text();

    $('#innovationsEnquiryWrapper').addClass('d-none');
    $('.selector-qty-wrapper').addClass('d-none');     
    $('.product_button_section').addClass('d-none');     
    $('.product_single_price').addClass('d-none');


    if(valueSelected!==''){
      if(valueSelected==='USA-TEMPDEACTIVATE'){
        $('.selector-qty-wrapper').removeClass('d-none');         
        $('.product_button_section').removeClass('d-none');
        $('.product_single_price').removeClass('d-none');
      } else {
        console.log('show form'); 
        $('#innovationsEnquiryWrapper').removeClass('d-none');
      }
    }

  });  


</script>