
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = current_variant.price -%}


<div class="{{ mid_width }}">
  <div itemscope itemtype="http://schema.org/Product">
    <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">  
    <meta itemprop="name" content="{{ product.title | escape }}" />
    <meta itemprop="sku" content="{{ product.variants.first.sku }}"/>
    <meta itemprop="gtin14" content="{{ product.variants.first.barcode }}"/>
    <meta itemprop="brand" content="{{ product.vendor }}"/>
    <meta itemprop="description" content="{{ product.description | strip_html | escape }}"/>
    <meta itemprop="image" content="https:{{ product.featured_image.src | img_url: 'grande' }}"/>
    <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <meta itemprop="price" content="{{ product.price |money_without_currency  |strip_html }}">
      <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition" />
      {% if product.available == true %}<meta itemprop="availability" content="http://schema.org/InStock"/>{% else %}<meta itemprop="availability" content="http://schema.org/OutOfStock"/>{% endif %}
    </div>
  </div>
  <div  class="single-product-layout-type-1"> 
    <div class="product-single {% if section.settings.custom_text_block %} layout_with_support {% endif %}">
<div class="grid__item  {% if section.settings.custom_text_block %}  wide--two-thirds post-large--grid__item large--grid__item {% endif %}">
        <div class="grid__item wide--one-half post-large--one-half large--one-half" data-more-view-product>
          <div class="product-img-box">
            <div style="position: relative;" class="wrapper-images">
              <div class="product-photo-container slider-for">
                {% for image in product.images %}
                <div class="thumb filter-{{ image.alt | handle }}">
                  <a data-zoom class="fancybox" rel="gallery1" href="{{ image | img_url: 'master' }}" data-fancybox="images">
                    <img id="product-featured-image-{{image.id}}" src="{{ image | img_url: 'master' }}" alt="{{ image.alt | escape }}" >
                  </a>
                </div>
                {% endfor %}
                </div> 
                   {% include 'product-video' %}
              
            </div>
            <div class="slider-nav {% unless section.settings.display_product_thumb_img %} hide {% endunless %}  more-view-wrapper{% if product.images.size == 1 %} hidden{% endif %} {% if section.settings.display_product_thumb_vertical %} more-view-vertical{% endif %}"  data-rows="5" {% if section.settings.display_product_thumb_vertical %} data-vertical="true" {% else %} data-vertical="false"  {% endif %} >
              {% for image in product.images %}
              <div class="item filter-{{ image.alt | handle }}">
                <a href="javascript:void(0)" data-image="{{ image.src | product_img_url: 'master' }}" data-zoom-image="{{ image.src | product_img_url: 'master' }}">
                  <img src="{{ image.src | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}">
                </a>
              </div>
              {% endfor %}
            </div> 
           
            
          </div>
 
          
        </div>
      <div class="product_single_detail_section grid__item wide--one-half post-large--one-half large--one-half">
        <h2 class="product-single__title">{{ product.title }}</h2>
        {% if collection %}
        {% if collection.previous_product or collection.next_product %}
        <p class="product-arrows">
          {% if collection.previous_product %}
          {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
          <span class="left">
            <a href="{{ prev_url }}"> <i class="fas fa-chevron-left"></i></a>
          </span>
          {% endif %}

          {% if collection.next_product %}
          {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
          <span class="right">
            <a href="{{ next_url }}"> <i class="fas fa-chevron-right"></i></a>
          </span>
          {% endif %}
        </p>
        {% endif %}
        {% endif %}
        <div class="reviews-sold-in-hours">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
        {% include 'sold-in-hours' %}
        </div>
        {% if product.options contains 'Size' and section.settings.enable_size_chart %}
        <div class="size-chart-section" > <i class="fas fa-ruler"></i>  <a class="size-chart-open-popup"  href="#size-chart">{{ 'products.product.size_chart' | t }}</a></div>
        {% endif %}

        {% if section.settings.short_desc %}
        <div class="product-description rte">
          {{ product.description | strip_html | truncatewords: 50 }} 
        </div>
        {% endif %}



        {% assign variant = product.selected_or_first_available_variant %}
        <link  href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

        {% if settings.count_down_enable and settings.count_down_collections %}
        {% assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' %}
        {% include 'deal-snippet' %}
        {% endif %}

        <div class="product_single_price">
          <label>{{ 'products.product.product_price' | t }}</label>

          {% include 'product-price', variant: current_variant %}  
        </div>
        {% render 'stock-progress' %}
        {% form 'product', product, id: "AddToCartForm", class: "product-form" %}
        <div class="selector-wrapper-secton">
          {% assign hide_default_title = false %}
          {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
          {% assign hide_default_title = true %}
          {% endif %}           
          {% if settings.enable_color_swatch %}           
          {% for option in product.options %}
          {% include 'swatch' with option %}
          {% endfor %}
          {% endif %}              
          <select name="id" id="productSelect" class="product-single__variants" {% if hide_default_title %} style="display:none"{% endif %}>
            {% for variant in product.variants %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
            {% endfor %}
          </select>
        </div>          

        <div class="product-infor">


          {% if section.settings.display_vendor_type %}  
          <p class="product-vendor">
            <label>{{ 'products.product.product_vendor' | t }}</label>
            <span>{{ product.vendor }}</span>
          </p>
          {% endif %}
          {% if section.settings.display_product_type %}
          <p class="product-type">
            <label>{{ 'products.product.product_type' | t }} </label>  
            <span>{{ product.type }}</span>
          </p>
          {% endif %}
          {% if settings.display_availability %}
          <p class="product-inventory" id="product-inventory">
            <label>{{ 'products.product.availability' | t  }}  </label>              
            <span>
              {% if product.selected_or_first_available_variant.inventory_management %}
              {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
              {% if first_inventory > 0 %}
              {{first_inventory}} {{ 'products.product.in_stock' | t }}
              {% else %}
              {{ 'products.product.out_of_stock' | t }}
              {% endif %}
              {% else %}
              {{ 'products.product.many_in_stock' | t }}
              {% endif %}
            </span>
          </p>
          {% endif %}        
          {% if section.settings.display_product_sku %}

          {% assign current_variant = product.selected_or_first_available_variant %}
          {% if current_variant.sku != "" or current_variant.sku != empty  %}<p><label class="sku_wrapper">{{ 'products.product.product_sku' | t }}</label> <span class="sku variant-sku" id="product-sku">{{current_variant.sku}}</span></p>{% endif %}

          {% endif %}
        </div>
        {% include 'qty' %}

        {% include 'notify-form' %}
        <div class="product_button_section">
          {% if section.settings.enable_cart %}
          <button type="submit" name="add" id="AddToCart" class="btn">
            <i class="fas fa-cart-plus" aria-hidden="true"></i><span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
          </button>
          {% endif %}
          {% if section.settings.enable_wishlist %}
          {% include 'wishlist-product' %}
          {% endif %}
          {% if section.settings.payment_button %}
          {{ form | payment_button }}
          {% endif %}
        </div>
        {% endform %}
        {% include 'real-time-visitor' %}


       {% if section.settings.social_sharing_products %}     
        <div class="share_this_btn">
           {% include 'social-sharing' %}
        </div>
        {% endif %}
        {% if section.settings.secure_pay_enable %}     
        <div class="grid__item" style="margin-top:10px;">
          <img src="{{ section.settings.secure_pay | img_url: "medium" }}" alt="secure_pay">
        </div>
        {% endif %}

      </div>
      </div>
      <div class="grid__item {% if section.settings.custom_text_block %} wide--one-third post-large--grid__item large--grid__item {% endif %}">
          <div class="product_sidebar">  

            {% if section.settings.custom_text_block %}
            <div class="custom-text-type-1">  

              <div class="grid-uniform">
                <ul class="support_block">         
                  {% if section.blocks.size > 0 %}      
                  {% for block in section.blocks %}        
                  <li class="grid__item wow fadeInUp"  data-wow-delay="{{ settings.time_lazy_load }}ms">
                    <div class="custom-text_section">                      
                      {% if block.settings.class != blank  %} 
                      <div class="support_section">
                        <div class="support_icon">                      
                          <a href="{{ block.settings.link }}"  class="" style="background:{{ block.settings.icon_bg_color }};color:{{ block.settings.class_color }};"><i class="{{ block.settings.class }}"></i></a>
                        </div>
                        {% endif %}   
                        <div class="support_text"> 
                          {% if block.settings.title != blank  %}  
                          <h5 style="color:{{ block.settings.title_color }};">{{ block.settings.title }}</h5>
                          {% endif %} 
                          {% if block.settings.sub_title != blank  %}  
                          <h6 style="color:{{ block.settings.sub_title_color }};">{{ block.settings.sub_title }}</h6>
                          {% endif %}

                          {% if block.settings.desc != blank  %}  
                          <span style="color:{{ block.settings.desc_color }};" class="desc">{{ block.settings.desc }}</span>
                          {% endif %} 
                        </div>     
                      </div>
                    </div>    
                  </li>  
                  {% endfor %}
                  {% endif %}
                </ul>
              </div>

            </div>

            {% endif %}     

          </div>
        </div>
      
      
      
      
       {% if section.settings.products_nav_arrow %}
   {% include 'buddha_produc_nav' %}
    {% endif %}
    </div>
    
    
    <div class="dt-sc-hr-invisible-large"></div>
    {% include 'product-tab' %}


    {% if section.settings.product_related_enable %}

    {% include 'related-products' %}
    {% endif %}
    {% if section.settings.display_recently_viewed_products %} 
    {% include 'recently-viewed-products' %}
    {% endif %}
  </div>
</div>

{{ 'option_selection.js' | shopify_asset_url | script_tag }}
{{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
{{ 'jquery.fancybox.min.js' | asset_url | script_tag }}
<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
      add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
      sold_out : "{{ 'products.product.sold_out' | t }}",
      unavailable : "{{ 'products.product.unavailable' | t }}"
    } 
                       });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });


    {% if settings.enable_linked_option %}
    {% if product.available and product.options.size > 1 %}
    Shopify.linkOptionSelectors({{ product | json }});
    {% endif %}
    {% endif %}

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
                                         {% endif %}
                                         // Hide selectors if we only have 1 variant and its title contains 'Default'.
                                         {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                         $('.selector-wrapper').hide();
    $('.selector-wrapper-secton').hide();
    {% endif %}

    // Auto-select first available variant on page load. Otherwise the product looks sold out.
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
    {% assign found_one_in_stock = true %}
    {% for option in product.options %}
    $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
    {% endfor %}
    {% endif %}
    {% endfor %}

    $('.product-single .single-option-selector').wrap('<div class="selector-arrow">');
  });   


</script>
<style>
  .swatch .tooltip{ {% if section.settings.color_tooltip %} display:block; {% else %} display:none; {% endif %}}
  
 

  .single-product-layout-type-1 .product-img-box.has-jcarousel .product-photo-container { {% if section.settings.display_product_thumb_img %} width:80%; {% else %} width:100%; {% endif %} }
</style>


<div id="size-chart" class="mfp-hide size-chart">
  {{ pages.size-chart.content }}
</div>
