
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign compare_at_price = current_variant.compare_at_price -%}
{%- assign price = current_variant.price -%}

<div class="{{ mid_width }}">
  <div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">  
  <meta itemprop="name" content="{{ product.title | escape }}" />
  <meta itemprop="sku" content="{{ product.variants.first.sku }}"/>
  <meta itemprop="gtin14" content="{{ product.variants.first.barcode }}"/>
  <meta itemprop="brand" content="{{ product.vendor }}"/>
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}"/>
  <meta itemprop="image" content="https:{{ product.featured_image.src | img_url: 'grande' }}"/>
  <div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
    <meta itemprop="priceCurrency" content="{{ shop.currency }}">
    <meta itemprop="price" content="{{ product.price |money_without_currency  |strip_html }}">
    <meta itemprop="itemCondition" itemtype="http://schema.org/OfferItemCondition" content="http://schema.org/NewCondition" />
    {% if product.available == true %}<meta itemprop="availability" content="http://schema.org/InStock"/>{% else %}<meta itemprop="availability" content="http://schema.org/OutOfStock"/>{% endif %}
  </div>
</div>
  
  <div class="single-product-layout-type-3"> 
    <div class="product-single">

      <div class="grid-uniform">
        <div class="grid__item wide--one-half post-large--one-half large--one-half product-img-box ">

          {% if product.images.size == 0 %}
          <div class="product-photo-container" style="display:none">
            <img src="{{ '' | product_img_url: 'grande' }}" alt="">
          </div>
          {% else %}
          <div class="product-photo-container" style="display:none">
            {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
            <a href="{{ featured_image | img_url: 'master' }}" >
              <img id="product-featured-image" src="{{ featured_image | img_url: 'grande' }}" alt="{{ product.title }}" data-zoom-image="{{ featured_image.src | img_url: 'master' }}"/>
            </a>          
          </div>

          {% if product.images.size > 0 %}
          <div class="{% unless section.settings.display_product_thumb_img %} hide {% endunless %}  more-view-wrapper{% if product.images.size == 1 %} hidden{% endif %}" style="display:none">
            <ul id="ProductThumbs" class="product-photo-thumbs">
              {% for image in product.images %}
              <li class="grid-item">
                <a href="javascript:void(0)" data-image="{{ image.src | product_img_url: 'grande' }}" data-zoom-image="{{ image.src | product_img_url: 'master' }}">
                  <img src="{{ image.src | product_img_url: 'medium' }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% endif %}
          {% if section.settings.display_product_thumb_rows == '2' %}
          {% if product.images.size > 1 %}         
          {% assign img_div_width = "grid__item wide--one-half post-large--one-half large--one-half" %}
          {% else %}
          {% assign img_div_width = "grid__item" %}
          {% endif %}
          {% endif %}

          {% for image in product.images %}
          <a {% if section.settings.display_product_thumb_rows == '2' %} class="{{ img_div_width }}" {% endif %} href="{{ image.src | product_img_url: 'master' }}"  data-fancybox="images"  data-caption="{{ image.alt | escape }}">
            <img src="{{ image.src | product_img_url: 'large' }}" >
          </a>
          {% endfor %}
       {% include 'product-video' %}
        </div>

        <div class="product_single_detail_section grid__item wide--one-half post-large--one-half large--one-half sticky-mass">
          <h2  class="product-single__title">{{ product.title }}</h2>
          {% if collection %}
          {% if collection.previous_product or collection.next_product %}
          <p class="product-arrows">
            {% if collection.previous_product %}
            {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
            <span class="left">
              <a href="{{ prev_url }}"> <i class="fas fa-chevron-left"></i></a>
            </span>
            {% endif %}

            {% if collection.next_product %}
            {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
            <span class="right">
              <a href="{{ next_url }}"> <i class="fas fa-chevron-right"></i></a>
            </span>
            {% endif %}
          </p>
          {% endif %}
          {% endif %}
          <div class="reviews-sold-in-hours">
            <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
            {% include 'sold-in-hours' %}
          </div>
          {% if product.options contains 'Size' and section.settings.enable_size_chart %}
          <div class="size-chart-section" > <i class="fas fa-ruler"></i>  <a class="size-chart-open-popup"  href="#size-chart">{{ 'products.product.size_chart' | t }}</a></div>
          {% endif %}
          {% if section.settings.short_desc %}
          <div class="product-description rte" >
            {{ product.description | strip_html | truncatewords: 50 }} 
          </div>
          {% endif %}
          {% assign variant = product.selected_or_first_available_variant %}
          <link href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          {% if settings.count_down_enable and settings.count_down_prodetails %}
          {% assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' %}
          {% include 'deal-snippet' %}
          {% endif %}


          <div class="product_single_price">
            <label>{{ 'products.product.product_price' | t }}</label>

            {% include 'product-price', variant: current_variant %}  
          </div>
          {% render 'stock-progress' %}
          {% form 'product', product, id: "AddToCartForm", class: "product-form" %}            
          {% assign hide_default_title = false %}
          {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
          {% assign hide_default_title = true %}
          {% endif %}           

          <div class="selector-wrapper-secton"  {% if hide_default_title %} style="display:none;"{% endif %}>           
            {% if settings.enable_color_swatch %}                       
            {% for option in product.options %}
            {% include 'swatch' with option %}
            {% endfor %}
            {% endif %}              
            <select name="id" id="productSelect" class="{% if hide_default_title %} product-single__variants {% endif %}" >
              {% for variant in product.variants %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
              {% endfor %}
            </select>
          </div>          


          <div class="product-infor">


            {% if section.settings.display_vendor_type %}  
            <p class="product-vendor">
              <label>{{ 'products.product.product_vendor' | t }}</label>
              <span>{{ product.vendor }}</span>
            </p>
            {% endif %}
            {% if section.settings.display_product_type %}
            <p class="product-type">
              <label>{{ 'products.product.product_type' | t }} </label>  
              <span>{{ product.type }}</span>
            </p>
            {% endif %}
            {% if settings.display_availability %}
            <p class="product-inventory" id="product-inventory">
              <label>{{ 'products.product.availability' | t  }}  </label>              
              <span>
                {% if product.selected_or_first_available_variant.inventory_management %}
                {% assign first_inventory = product.selected_or_first_available_variant.inventory_quantity %}
                {% if first_inventory > 0 %}
                {{first_inventory}} {{ 'products.product.in_stock' | t }}
                {% else %}
                {{ 'products.product.out_of_stock' | t }}
                {% endif %}
                {% else %}
                {{ 'products.product.many_in_stock' | t }}
                {% endif %}
              </span>
            </p>
            {% endif %}
            {% if section.settings.display_product_sku %}

            {% assign current_variant = product.selected_or_first_available_variant %}
            {% if current_variant.sku != "" or current_variant.sku != empty  %}<p><label class="sku_wrapper">{{ 'products.product.product_sku' | t }}</label> <span class="sku variant-sku" id="product-sku">{{current_variant.sku}}</span></p>{% endif %}

            {% endif %}
          </div>
          {% include 'qty' %}
          {% include 'notify-form' %}
          <div class="product_button_section">
            {% if section.settings.enable_cart %}
            <button type="submit" name="add" id="AddToCart" class="btn">
              <i class="fas fa-cart-plus" aria-hidden="true"></i><span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
            </button>
            {% endif %}
            {% if section.settings.enable_wishlist %}
            {% include 'wishlist-product' %}
            {% endif %}
            {% if section.settings.payment_button %}
            {{ form | payment_button }}
            {% endif %}

          </div>
          {% endform %}

          {% include 'real-time-visitor' %}

          {% if section.settings.social_sharing_products %}     
          <div class="share_this_btn">
            {% include 'social-sharing' %}
          </div>
          {% endif %}
          {% if section.settings.secure_pay_enable %}     
          <div class="grid__item" style="margin-top:10px;">
            <img src="{{ section.settings.secure_pay | img_url: "medium" }}" alt="secure_pay">
          </div>
          {% endif %}
        </div>
      </div>
                {% if section.settings.products_nav_arrow %}

      <div class="buddha-products-nav-section">
        {%- if collection -%}
        {%- assign c  =  collection -%}
        {%- else -%}
        {%- assign c  =  product.collections.first -%}
        {%- endif -%}
        {%- assign product_image_size = '219x280' -%}
        {%- assign on_sale = false -%}
        {%- if product.compare_at_price > product.price %}
        {%- assign on_sale = true -%}
        {%- endif -%}
        <div class="buddha-products-nav">
          {% if c.previous_product%}
          {% assign p  =  c.previous_product   | split: '/products/' | last %}
          {% assign p = all_products[p]  %}
          <div class="product-btn product-prev">
            <a class="btn" href="{{ p.url | within: c }}">Previous product<span></span></a>
            <div class="wrapper-short">
              <div class="product-short">
                <a href="{{  p.url | within: c  }}" class="product-thumb">
                  <img src="{{  p.featured_image | product_img_url: product_image_size, format: 'pjpg' | split:'?' | first }}" class="attachment-shop_thumbnail" alt="{{ product.alt | escape  }}" 
                       srcset="{{  p.featured_image | product_img_url: product_image_size, format: 'pjpg' | split:'?' | first }} 219w, 
                               {{  p.featured_image | product_img_url: '768x980', format: 'pjpg' | split:'?' | first }} 768w, 
                               {{  p.featured_image | product_img_url: '803x1024', format: 'pjpg' | split:'?' | first }} 803w,
                               {{  p.featured_image | product_img_url: '266x340', format: 'pjpg' | split:'?' | first }} 266w,
                               {{  p.featured_image | product_img_url: '219x280', format: 'pjpg' | split:'?' | first }} 219w,
                               {{ p.featured_image | product_img_url: '263x336', format: 'pjpg' | split:'?' | first }} 263w,
                               {{  p.featured_image | product_img_url: '526x671', format: 'pjpg' | split:'?' | first }} 526w,
                               {{  p.featured_image | product_img_url: '870x', format: 'pjpg' | split:'?' | first }} 870w" sizes="(max-width: 219px) 100vw, 219px"> </a>
                <a href="{{  p.url | within: c  }}" class="product-title">{{ p.title }}</a>
                <span class="price">{%- if p.compare_at_price > p.price -%}<del>{{ p.compare_at_price_max | money }}</del>{%-endif-%}<ins><span>{{p.price | money }}</span></ins></span>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="buddha-products-nav">
          {% if c.next_product %}
          {% assign n  =  c.next_product | split: '/products/' | last %}
          {% assign n = all_products[n]  %}
          <div class="product-btn product-next">
            <a class="btn" href="{{n.url | within: c }}">Next product<span></span></a>
            <div class="wrapper-short">
              <div class="product-short">
                <a href="{{ n.url | within: c }}" class="product-thumb">
                  <img src="{{  n.featured_image | product_img_url: product_image_size, format: 'pjpg' | split:'?' | first }}" class="attachment-shop_thumbnail" alt="{{ product.alt | escape  }}" 
                       srcset="{{  n.featured_image | product_img_url: product_image_size, format: 'pjpg' | split:'?' | first }} 219w, 
                               {{  n.featured_image | product_img_url: '768x980', format: 'pjpg' | split:'?' | first }} 768w, 
                               {{  n.featured_image | product_img_url: '803x1024', format: 'pjpg' | split:'?' | first }} 803w,
                               {{  n.featured_image | product_img_url: '266x340', format: 'pjpg' | split:'?' | first }} 266w,
                               {{  n.featured_image | product_img_url: '219x280', format: 'pjpg' | split:'?' | first }} 219w,
                               {{ n.featured_image | product_img_url: '263x336', format: 'pjpg' | split:'?' | first }} 263w,
                               {{  n.featured_image | product_img_url: '526x671', format: 'pjpg' | split:'?' | first }} 526w,
                               {{  n.featured_image | product_img_url: '870x', format: 'pjpg' | split:'?' | first }} 870w" sizes="(max-width: 219px) 100vw, 219px"> </a>
                <a href="{{ n.url | within: c }}" class="product-title">{{ n.title }}</a>
                <span class="price">{%- if n.compare_at_price > n.price -%}<del>{{ n.compare_at_price_max | money }}</del>{%-endif-%}<ins><span>{{n.price | money }}</span></ins></span>
              </div>
            </div>
          </div>
          {% endif %}
        </div>

      </div>
      {% endif %}
    </div>
    <div class="dt-sc-hr-invisible-large"></div>
    {% include 'product-tab' %}


    {% if section.settings.product_related_enable %}

    {% include 'related-products' %}
    {% endif %}
    {% if section.settings.display_recently_viewed_products %} 
    {% include 'recently-viewed-products' %}
    {% endif %}
  </div>
</div>
 
{{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
{{ 'jquery.fancybox.min.js' | asset_url | script_tag }}
{{ 'sticky-kit.min.js' | asset_url | script_tag }}

<script>
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector,
      translations: {
      add_to_cart : "{{ 'products.product.add_to_cart' | t }}",
      sold_out : "{{ 'products.product.sold_out' | t }}",
      unavailable : "{{ 'products.product.unavailable' | t }}"
    }
  });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });


    {% if settings.enable_linked_option %}
    {% if product.available and product.options.size > 1 %}
    Shopify.linkOptionSelectors({{ product | json }});
    {% endif %}
    {% endif %}

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
    $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
	{% endif %}
     // Hide selectors if we only have 1 variant and its title contains 'Default'.
     {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
     $('.selector-wrapper').hide();
     $('.selector-wrapper-secton').hide();
    {% endif %}
    
    // Auto-select first available variant on page load. Otherwise the product looks sold out.
    {% assign found_one_in_stock = false %}
    {% for variant in product.variants %}
    {% if variant.available and found_one_in_stock == false %}
    {% assign found_one_in_stock = true %}
    {% for option in product.options %}
    $('.single-option-selector:eq({{ forloop.index0 }})').val({{ variant.options[forloop.index0] | json }}).trigger('change');
    {% endfor %}
    {% endif %}
    {% endfor %}
    
    $('.product-single .single-option-selector').wrap('<div class="selector-arrow">');
  });   
    
  if ( $( '.sticky-mass' ).length > 0 ) {
			$( '.sticky-mass' ).stick_in_parent();
		}

</script>
<style>
  .swatch .tooltip{ {% if section.settings.color_tooltip %} display:block; {% else %} display:none; {% endif %}}

  
</style>

 <div id="size-chart" class="mfp-hide size-chart">
  {{ pages.size-chart.content }}
</div>