{%- assign img_url = block.settings.image | img_url: '2000x' -%}
{%- assign mobile_img_url = block.settings.mobile_image | img_url: '767x' -%}        

{% if  block.settings.link != blank %} <a href="{{ block.settings.link }}"> {% endif %}
{% if  block.settings.image != blank %}
<img src="{{img_url}}"  class="slide-img medium-down--hide" alt="{{ block.settings.image.alt }}" />
{% else %}
<img src="//via.placeholder.com/1920x940"   class="slide-img medium-down--hide" alt="{{ block.settings.image.alt }}">
{% endif %}

{% if  block.settings.mobile_image != blank %}
<img src="{{mobile_img_url}}"  class="slide-img wide--hide post-large--hide large--hide" alt="{{ block.settings.image.alt }}" />
{% else %}
<img src="//via.placeholder.com/767x750"   class="slide-img wide--hide post-large--hide large--hide" alt="{{ block.settings.image.alt }}">
{% endif %}
{% if  block.settings.link != blank %} </a> {% endif %}

<div class="slider-content slider-content-bg">
  <div class="slide_left">
    
    {% if block.settings.title_2 != blank %}
    <h3 class="slide-sub-heading-2 animated"
       style="{% if block.settings.subheading_size != blank %}
              font-size: {{ block.settings.subheading_size }}px;
              {% endif %}
              {% if block.settings.subheading_color != blank %}
              color:{{ block.settings.subheading_color }};
              {% endif %}">
      {{ block.settings.title_2  }}                   
    </h3>
    {% endif %}

    {% if block.settings.title != blank %}
    <h2 class="slide-heading gradient_text animated"
        style=" {% if block.settings.heading_size != blank %}
               font-size: {{ block.settings.heading_size }}px;
               {% endif %}
               {% if block.settings.heading_color != blank %}
               color:{{ block.settings.heading_color }};
               {% endif %}">
      {{ block.settings.title  }}                   
    </h2>
    {% endif %}

    <div class="slider_inner_block">

      {% if block.settings.desc != blank %}
      <div class="slide-text animated"
         style="{% if block.settings.desc_size != blank %}
                font-size: {{ block.settings.desc_size }}px;
                {% endif %}
                {% if block.settings.desc_color != blank %}
                color:{{ block.settings.desc_color }};
                {% endif %}">
        {{ block.settings.desc  }}                   
      </div>
      {% endif %}

      {% if block.settings.button != blank %}
      <a href="{{ block.settings.link }}" class="slide-button animated btn">{{  block.settings.button }}</a>
      {% endif %}

    </div>

  </div>
</div>