<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  {% if settings.favicon_enable and settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '16x16' }}" type="image/png" />
  {% endif %}
  
  <!-- Dev Store - do not allow to index -->
  <meta name="robots" content="noindex">

  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}
  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  {% include 'frame_header_styles' %}  
  {% include 'frame_header_fonts' %}  
  {% include 'frame_header_scripts' %}  
  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}  
  <script type="text/javascript">
    delete History
  </script>

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {% unless tempate contains 'index' %} others {% endunless %}">  

  <div> 

    <div class="wrapper-header wrapper-container">	
      <header class="header-min">
        <svg width="324" height="34" viewBox="0 0 324 34" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 14.5478C0 20.9916 4.18953 26.4569 9.99329 28.3683V23.7918C6.58754 22.1107 4.24488 18.6028 4.24488 14.5478C4.24488 8.85767 8.85761 4.24494 14.5477 4.24494C20.2378 4.24494 24.8505 8.85767 24.8505 14.5478C24.8505 18.5675 22.5484 22.0497 19.1907 23.7476V28.3389C24.9485 26.4012 29.0955 20.9588 29.0955 14.5478C29.0955 6.51325 22.5823 0 14.5478 0C6.51325 0 0 6.51325 0 14.5478ZM14.5476 33.736C16.1711 33.736 17.7325 33.47 19.1905 32.9793V28.3881C17.7953 29.0936 16.2179 29.491 14.5476 29.491C12.9125 29.491 11.3664 29.1102 9.99318 28.4323V33.0088C11.4259 33.4807 12.9569 33.736 14.5476 33.736Z" fill="white"/>
          <g clip-path="url(#clip0)">
            <path d="M172.344 23.0772H175.071L171.751 11.4271C171.277 9.97084 169.973 9 168.55 9H166.653C165.111 9 163.807 9.97084 163.451 11.5485L160.25 23.0772H162.977L163.925 19.5579H171.514L172.344 23.0772ZM164.4 17.3735L165.823 12.1552C165.941 11.6698 166.415 11.3058 166.89 11.4271H168.194C168.668 11.4271 169.024 11.7912 169.261 12.1552L170.803 17.3735H164.4Z" fill="white"/>
            <path d="M121.239 9.24268H118.63V23.1985H121.239V9.24268Z" fill="white"/>
            <path d="M48.7902 11.4237L49.5017 9.23926H38V23.0738H40.49V18.2196H46.7745L47.3673 15.9138H40.49V11.4237H48.7902Z" fill="white"/>
            <path d="M56.6161 20.7714C56.0232 20.7714 55.5489 20.286 55.5489 19.6792V9.24268H52.9403V19.6792C52.9403 21.6209 54.4818 23.0772 56.2604 23.0772H62.6634C64.5605 23.0772 65.9834 21.4996 65.9834 19.6792V9.24268H63.3748V19.8006C63.3748 20.4074 62.9005 20.8928 62.3076 20.8928L56.6161 20.7714Z" fill="white"/>
            <path d="M83.5323 22.9558V9.24268H80.9237V19.5579L72.9792 9.24268H72.6235H70.0149V23.0772H72.6235V12.6406L80.568 23.0772H80.9237H83.4137H83.5323V22.9558Z" fill="white"/>
            <path d="M153.965 9.24268V19.5579L146.021 9.24268H145.546H143.175H143.056V23.0772H145.546V12.6406L153.491 23.0772H153.965H156.218H156.455V9.24268H153.965Z" fill="white"/>
            <path d="M99.5398 9.24268L98.8283 11.4271H91.3582C90.6467 11.4271 90.1724 11.9125 90.1724 12.5193V19.6792C90.1724 20.286 90.6467 20.7714 91.2396 20.7714H99.184V23.0772H91.0024C89.1053 23.0772 87.6824 21.4996 87.6824 19.6792V12.6406C87.6824 10.6989 89.2238 9.24268 91.0024 9.24268H99.5398Z" fill="white"/>
            <path d="M128.59 23.0772C126.693 23.0772 125.27 21.4996 125.27 19.6792V12.6406C125.27 10.6989 126.812 9.24268 128.59 9.24268H135.349C137.246 9.24268 138.788 10.6989 138.788 12.6406V19.6792C138.788 21.6209 137.246 23.0772 135.468 23.0772H128.59ZM135.112 20.7714C135.705 20.7714 136.179 20.286 136.179 19.6792V12.5193C136.179 11.9125 135.705 11.4271 135.112 11.4271H128.827C128.235 11.4271 127.76 11.9125 127.76 12.5193V19.6792C127.76 20.286 128.235 20.7714 128.827 20.7714H135.112Z" fill="white"/>
            <path d="M115.547 9.24268H102.504L101.793 11.4271H107.247V23.0772H109.856V11.4271H114.836L115.547 9.24268Z" fill="white"/>
            <path d="M178.273 9.24268H180.881V19.8006C180.881 20.4074 181.356 20.8928 181.949 20.8928H189.656L188.944 23.1985H181.593C179.696 23.1985 178.273 21.6209 178.273 19.8006V9.24268Z" fill="white"/>
            <path d="M264.357 19.6793V16.8881H271.828L272.539 14.5823H264.357V12.5193C264.357 11.9125 264.832 11.4271 265.425 11.4271H273.488L274.199 9.12134H265.187C263.29 9.12134 261.867 10.699 261.749 12.6406V19.6793C261.749 21.6209 263.29 23.0772 265.187 23.0772H273.962V20.7715H265.543C264.95 20.7715 264.357 20.286 264.357 19.6793Z" fill="white"/>
            <path d="M229.022 23.0772H231.75L228.311 11.4271C227.837 9.97084 226.532 9 225.109 9H223.212C221.671 9 220.367 9.97084 220.011 11.5485L216.809 23.1986H219.418L220.367 19.6793H227.955L229.022 23.0772ZM221.078 17.3735L222.501 12.1552C222.619 11.6698 223.094 11.4271 223.568 11.4271H224.872C225.347 11.4271 225.702 11.7912 225.939 12.1552L227.481 17.3735H221.078Z" fill="white"/>
            <path d="M305.265 9.24268V19.5579L297.321 9.24268H296.965H294.594H294.356V23.0772H296.965V12.6406L304.91 23.0772H305.265H307.637H307.874V9.24268H305.265Z" fill="white"/>
            <path d="M244.556 9.24268H232.935L232.224 11.5484H237.678V23.0772H240.287V11.5484H243.963L244.556 9.24268Z" fill="white"/>
            <path d="M258.784 9.24268H247.401L246.69 11.5484H250.959V23.0772H253.567V11.5484H258.073L258.784 9.24268Z" fill="white"/>
            <path d="M202.58 23.0772V9.24268H211.829C213.726 9.24268 215.149 10.8203 215.149 12.6406V15.1891C215.149 17.1308 213.608 18.587 211.829 18.7084H207.323L205.545 16.2813H211.592C212.185 16.2813 212.659 15.7959 212.659 15.1891V12.6406C212.659 12.0338 212.185 11.5484 211.592 11.5484H205.189V23.1985L202.58 23.0772Z" fill="white"/>
            <path d="M285.701 18.1016H287.005C288.902 18.1016 290.325 16.524 290.325 14.7037V12.6406C290.325 10.6989 288.784 9.24268 287.005 9.24268H277.993V23.1985H280.602V11.5484H286.649C287.242 11.5484 287.716 12.0338 287.716 12.6406V14.9464C287.716 15.5532 287.242 16.0386 286.649 16.0386H281.076L287.479 23.1985H290.562L285.701 18.1016Z" fill="white"/>
            <path d="M321.391 19.6793C321.391 20.286 320.917 20.7715 320.324 20.7715H312.024V23.0772H320.561C322.458 23.0772 323.881 21.4996 323.881 19.6793V18.223C323.881 16.7667 323.051 16.2813 321.866 15.7959C321.154 15.5532 316.174 14.3396 315.344 14.0969C314.514 13.8542 314.277 13.8542 314.277 13.2474V12.5193C314.277 11.9125 314.751 11.4271 315.344 11.4271H322.577L323.289 9.12134H315.107C313.21 9.12134 311.787 10.699 311.787 12.5193V13.2474C311.787 14.461 312.617 15.6745 313.803 15.9172C314.514 16.16 319.494 17.3735 320.324 17.6162C321.154 17.8589 321.391 18.1016 321.391 18.7084V19.6793Z" fill="white"/>
          </g>
          <defs>
            <clipPath id="clip0">
              <rect width="286" height="14.1986" fill="white" transform="translate(38 9)"/>
            </clipPath>
          </defs>
        </svg>
      </header>
    </div>    

    
    <main class="main-content">  
		{{ content_for_layout }}
    </main>  

  </div>
  
  {% section 'footer-min' %}
  
  {% include 'frame_footer_scripts' %}  
     <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=VXvy2g"></script>
</body>
</html>
