{% if section.settings.show_best_products %}
<div data-section-id="{{ section.id }}"  data-section-type="blog-sidebar-deals" class="blog-sidebar-deals">  
  <div class="widget widget_top_rated_products"  style ="background:{{section.settings.sidebar_bg_color}}">
    {% if collections[section.settings.dealitems].products.size > 0 %} 
    {% if section.settings.title != blank %}
    <h4><span>{{ section.settings.title }}</span></h4>  
    {% endif %}
    {% endif %}
    <div class="carousel-block">	
    <ul class="no-bullets sidebar-deal-products owl-carousel owl-theme">
      {% for product in collections[section.settings.dealitems].products limit: section.settings.limit %}
      <li class="products"> 

        <div class="product-container"> 
          {% if product.images.size > 0 %}  
          <a class="thumb grid__item" href="{{ product.url | within: collection }}">                                          
            {% if product.compare_at_price > product.price and settings.collections_show_sale_circle %}
            <div class="featured-tag">
              <span class="badge badge--sale">          
                <span class="gift-tag badge__text{% if sale_text.size > 7 %} badge__text--small{% endif %}">{{ 'products.product.sale' | t }}</span>
              </span>
            </div>
            {% endif %}


            <img alt="featured product" src="{{ product.featured_image | product_img_url: '350X' }}">                                              

            {% if settings.count_down_enable and settings.count_down_collections %}
            {% assign dealTime = settings.home_productdeal_time | split: ' ' | join: ' ' | split: ' ' %}
            {% include 'deal-snippet-sidebar' %}
            {% endif %}
          </a>
          {% endif %} 
        </div>

        <div class="product-detail">                   
          <a class="grid-link__title" href="{{ product.url | within: collection }}"> {{ product.title }} </a>
          
          {% if settings.product_review %}  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> {% endif %}

          <div class="top-product-prices grid-link__meta">

            <div class="product_price">
              <div class="grid-link__org_price">
                {{ product.price_min | money }}
              </div>
              {% if product.compare_at_price_max > product.price %}
              <del>{{ product.compare_at_price_max | money }}</del>
              {% endif %}
            </div>
          </div>
        </div>

      </li>

      {% else %}
      {% for i in (1..section.settings.limit) %}
      <li>
        <div class="products   wow fadeIn   animated" style="visibility: visible;">
          <div class="product-container">
            <a href="#" class="grid-link"> 
              {% if forloop.index == 3 %}
              <span class="badge badge--sale"> <span class="gift-tag badge__text">Sale</span> </span>
              {% endif %}

              <div class="reveal"> 
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
              <img src="//via.placeholder.com/570x490">
              </div>
            </a>
            <div class="ImageWrapper">
              <div class="product-button">
                <a href="#" id="party-wear-heel" class="quick-view-text"> 
                  <i class="fas fa-eye" aria-hidden="true"></i> 
                </a>
                <form action="#" method="post" class="variants clearfix" id="cart-form-6529189125">
                  <input type="hidden" name="id" value="21661289093">
                  <a href="#" class="add-cart-btn"><i class="fas fa-shopping-cart"></i> </a>
                </form>
                <a href="/account/login" class="wishlist"><i class="far fa-heart"></i></a> </div>
            </div>
          </div>
          <div class="product-detail"> 
            <a href="#" class="grid-link__title">Sample title {{ i }}</a>
                       <div class="grid-link__meta">
              <div class="product_price"> <span class="money" data-currency-usd="$320.00">$0.00</span> </div>
              <del class="grid-link__sale_price"><span class="money" data-currency-usd="$756.00">$0.00</span></del> </div>

          </div>
        </div>
      </li>
      {% endfor %} 
      {% endfor %}
    </ul> 
    <div class="sidabar_nav home_sidebar--deal-nav"></div>
    </div>
  </div>
  <style>
    .home-sidebar-deals .lof-clock-timer-detail-single li {background:{{ section.settings.dealbtn }};border:1px solid {{ section.settings.dealbtn_border }};color:{{ section.settings.dealbtn_text }};}

  </style>
</div>
{% endif %} 

{% schema %}
{
"name": "Blog Sidebar Deals",    
"settings": [	
{
"type": "checkbox",
"id": "show_best_products",
"label": "Enable best deals"
},
{
"type": "color",
"id": "sidebar_bg_color",
"label": "Bg Color",
"default": "#fff"
},
{
"type": "text",
"id": "title",
"label": "Heading"
},
{
"type": "collection",
"id": "dealitems",
"label": "Collection"
},
{
"type": "color",
"id": "dealbtn_border",
"label": "Deal Button Border",
"default": "#000"
},
{
"type": "color",
"id": "dealbtn",
"label": "Deal Button Bg",
"default": "#000"
},
{
"type": "color",
"id": "dealbtn_text",
"label": "Deal Button Text",
"default": "#000"
},

{
"type": "text",
"id": "limit",
"label": "Product Limit",
"default": "4"
}

]
}
{% endschema %}

<script type="text/javascript">
  $(document).ready(function(){
    var homeSidedeals = $(".sidebar-deal-products");
    homeSidedeals.owlCarousel({
      items:1,
      loop:false,              
      dots: false,
      nav:true,       
      navContainer: ".home_sidebar--deal-nav",
      navText: [' <a class="prev btn active"><i class="fa fa-angle-left"></i></a>','<a class="next btn"><i class="fa fa-angle-right"></i></a>'],
      responsive:{
        0:{
          items: 1
        },
        600:{
          items:1
        },
        700:{
          items:1
        },

        1000:{
          items: 1
        }
      }
    });
  });
</script>