<a href="#" class="icon-nav close-menu-mb" title="Menu Mobile Icon" data-menu-mb-toogle>
  <span class="icon-line"></span>
</a> 




<div class="grid__item menubar_inner header-bottom" data-sticky-mb>
  <div class="wrapper-header-bt">
    {% include 'header-mobile' %}
    <div class="header-pc">
      <div class="header-panel-top">   
        {% if section.settings.display_top_bar %}    
        <div class="top_bar top-bar-type-9" >  
          <div class="container">


            <div class="grid__item">
              <div class="header_social top_bar_left">

                <div class="grid__item wide--one-third">  
                  <ul class="menu_topbar_right grid__item">                  
                    {% if settings.enable_multiple_currencies or settings.enable_shopify_payments_currencies %}
                    <li class="header_currency">
                      <ul class="tbl-list">
                        <li class="currency dropdown-parent uppercase currency-block">            
                          {% include 'currencies-switcher' %} 
                        </li>
                      </ul>
                    </li>  
                    {% endif %}                     
                  </ul>
                </div>  


                <div class="grid__item wide--one-third">  

                  {% if section.settings.header_welcome_text != blank %}
                  <ul class="menu_bar_center grid__item">          
                    <li class=" phone_txt"><span>{{ section.settings.header_welcome_text }}</span></li>          
                  </ul>
                  {% endif %}  

                </div>

                <div class="grid__item wide--one-third"> 

                  {% if section.settings.header_help_text != blank %}
                  <ul class="menu_bar_left grid__item">          
                    <li class="phone_no"><i class="fa fa-phone"></i><span>{{ section.settings.header_help_text }}</span></li> 


                    {% if shop.customer_accounts_enabled %} 
                    <li class="customer_account wide--hide"> 
                      <div class="header-account_links">
                        <ul> 
                          {% if customer %}
                          <li>
                            <a href="/account" title="{{ 'layout.customer.account' | t }}" data-value="value 1"><i class="fa fa-user post-large--hide large--hide medium-down--hide"></i><span class="wide--hide ">{{ 'layout.customer.account' | t }}</span></a>
                          </li>
                          <li class="logout-link">
                            <a href="/account/logout" title="{{ 'layout.customer.log_out' | t }}" data-value="value 1"><i class="fa fa-sign-out-alt post-large--hide large--hide medium-down--hide"></i><span class="wide--hide ">{{ 'layout.customer.log_out' | t }}</span></a>
                          </li>
                          {% else %}
                          <li>
                            <a href="/account/login" title="{{ 'layout.customer.log_in' | t }}" data-value="value 1"><i class="fa fa-user post-large--hide large--hide medium-down--hide"></i><span class="wide--hide">{{ 'layout.customer.log_in' | t }}</span></a>
                          </li>

                          {% endif %}  

                        </ul>   

                      </div>

                    </li>
                    {% endif %} 


                    {% if section.settings.display_wishlist %}   
                    <li class="top-wish">
                      <a href="/pages/wishlist"><i class="fa fa-heart"></i>{{ 'products.wishlist.wishlist_name' | t }}</a>
                    </li>
                    {% endif %} 
                  </ul>
                  {% endif %}  

                </div>


              </div>
            </div>
          </div>

        </div> 
        {% endif %}


        <header class="site-header">
          <div class="grid--full site-header__menubar post-large--hide large--hide medium-down--hide"> 
            <div class="container">
              <div class="grid__item menubar_inner">
                {% if section.settings.display_search %} 
                <div class="grid__item wide--two-sixths  post-large--two-sixths large--two-sixths medium-down--hide">

                  {% if settings.search_model == 'search_type2' %}
                  <li class="search-categories-section seeks">
                    <div class="header-search">
                      <a href="#" class="site-header__link site-header__search" id="search_trigger">
                        <svg class="icon icon-search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 64 80" enable-background="new 0 0 64 64" xml:space="preserve"><path d="M57.7,55.6L44.8,40.7c2.9-3.8,4.7-8.6,4.7-13.8c0-12.5-10.2-22.6-22.6-22.6C14.4,4.3,4.2,14.4,4.2,26.9s10.2,22.6,22.6,22.6  c5.5,0,10.5-2,14.5-5.2l12.6,14.6c0.5,0.6,1.2,0.9,1.9,0.9c0.6,0,1.2-0.2,1.6-0.6C58.5,58.2,58.6,56.7,57.7,55.6z M9.2,26.9  c0-9.7,7.9-17.6,17.6-17.6c9.7,0,17.6,7.9,17.6,17.6s-7.9,17.6-17.6,17.6C17.2,44.5,9.2,36.6,9.2,26.9z"/></svg>
                      </a>
                    </div>
                  </li>
                  {% endif %}
                  {% if settings.search_model == 'search_type3' %}
                  <li class="search-categories-section seeks">
                    <div class="header-search">
                      <a href="/search" class="site-header__link site-header__search js-drawer-open-top">
                        <svg class="icon icon-search" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 64 80" enable-background="new 0 0 64 64" xml:space="preserve"><path d="M57.7,55.6L44.8,40.7c2.9-3.8,4.7-8.6,4.7-13.8c0-12.5-10.2-22.6-22.6-22.6C14.4,4.3,4.2,14.4,4.2,26.9s10.2,22.6,22.6,22.6  c5.5,0,10.5-2,14.5-5.2l12.6,14.6c0.5,0.6,1.2,0.9,1.9,0.9c0.6,0,1.2-0.2,1.6-0.6C58.5,58.2,58.6,56.7,57.7,55.6z M9.2,26.9  c0-9.7,7.9-17.6,17.6-17.6c9.7,0,17.6,7.9,17.6,17.6s-7.9,17.6-17.6,17.6C17.2,44.5,9.2,36.6,9.2,26.9z"/></svg>                  </a>
                    </div>
                  </li>
                  {% endif %}



                  {% if settings.search_model == 'search_type1' %}
                  {% include 'adv-search-model' %} 
                  {% endif %}
                </div>
                {% endif %} 



                {% if template == 'index' %}
                <h1 class="grid__item wide--one-third post-large--one-third large--one-third site-header__logo" itemscope itemtype="http://schema.org/Organization">
                  {% else %}
                  <div class="h1 site-header__logo grid__item wide--two-sixths  post-large--two-sixths  large--two-sixths" itemscope itemtype="http://schema.org/Organization">
                    {% endif %}
                    {% if settings.logo_use_image %}
                    <a  href="/" style="max-width: {{ settings.logo_max_width }}px;">
                      <img class="normal-logo" src="{{ 'logo.png' | asset_url  }}" alt="{{ shop.name }}" itemprop="logo">
                    </a>
                    {% else %}
                    <a class="logo_name" href="/">{{ shop.name }}</a>
                    {% endif %}
                    {% if template == 'index' %}
                    </h1>
                  {% else %}
                  </div>
                {% endif %}   

                <ul class="menu_bar_right grid__item wide--one-third  post-large--one-third large--one-third small-grid__item">



                  {% if section.settings.display_minicart %}
                  <li class="header-bar__module cart header_cart">
                    {% include 'mini-cart' %} 
                  </li> 
                  {% endif %} 





                  {% if shop.customer_accounts_enabled %}
                  {% if customer %}
                  <li class="act-details">
                    <a class="myact-detail" href="/account" title="{{ 'layout.customer.account' | t }}"><i class="fas fa-user" aria-hidden="true"></i> <div style="float:left;" class="medium-down--hide"> {{ 'layout.customer.account' | t }}</div><span class="medium-down--hide"><br>{{section.settings.login_sub_txt}}</span></a>


                    <a class="myact-detail" href="/account/logout" title="{{ 'layout.customer.log_out' | t }}" data-value="value 1"><i class="fas fa-sign-out-alt"></i></a>
                  </li>
                  {% else %}
                  <li class="act-details">
                    <a class="myact-detail" href="/account/login" title="{{ 'layout.customer.log_in' | t }}"> <i class="fas fa-sign-in-alt icons" aria-hidden="true"></i> <div style="float:left;" class="medium-down--hide">{{ 'layout.customer.log_in' | t }}</div><span class="medium-down--hide"><br>{{section.settings.login_sub_txt}}</span></a>
                  </li>

                  {% endif %}  
                  {% endif %} 



                  <li>




                  </li>



                </ul>
              </div>
            </div>

          </div>       
        </header>
      </div>
    </div>
  </div>
</div>
<style> 
  @media only screen and (min-width:1200px) {

    .header-type-6 .header-bar__module.cart .baskettop a.icon-cart-arrow #cartCount,.header-type-6 .header-bar__module a {color:{{section.settings.minicart_count }};}
    .header-type-6 .header-bar__module.cart .baskettop a.icon-cart-arrow:hover #cartCount,.header-type-6 .header-bar__module a:hover { color:{{section.settings.minicart_count_hover_text }};}
    .header-type-6  .top_bar_menu ul li:last-child,.header-type-6 .customer_account ul li:last-child { border-right:none; }

    /* Top block */
    .header-type-6 .top_bar { background: {{ section.settings.top_bar_bg }}; }
    .header-type-6 .top_bar li, .header-type-6 .top_bar span { color:{{section.settings.top_bar_text}};}     
    .header-type-6 .top_bar a,.header-type-6 .top_bar button { color:{{section.settings.top_bar_links }};}    
    .header-type-6 .top_bar a:hover, .header-type-6 .top_bar a:hover span,.header-type-6 .top_bar button:hover { color:{{section.settings.top_bar_link_hover }};}    


    /* Logo block */
    .header-type-6 .site-header__menubar,.header-type-6 .results-box { background: {{ section.settings.logo_bar_bg }};}    
    .header-type-6 .site-header__logo a { color:{{section.settings.logo_text }};}
    .header-type-6 .site-header__logo a:hover { color:{{section.settings.logo_hover_text }};}    

    /* Menu  block */


    .header-type-6 .desktop-megamenu,.mobile-nav-section {background: {{ section.settings.menubar_bg }};}
    .header-type-6 .desktop-megamenu ul> li {color: {{ section.settings.menubar_text }};}
    .header-type-6 .desktop-megamenu ul> li> a,.mobile-nav-section .mobile-nav-trigger {color:{{section.settings.menubar_links}};}  
    .header-type-6 .desktop-megamenu ul> li:hover > a,.header-type-6 .menu-tool .site-nav > li:hover > a.current {color:{{section.settings.menubar_links_hover}};} 
    .header-type-6 .desktop-megamenu .site-nav >  li > a.current {color:{{section.settings.menu_active}};}



    .header-type-6 .site-nav-dropdown,#MobileNav,.mobile-nav__sublist { background: {{ section.settings.menubar_dropdown_bg }};}
    .header-type-6 .site-nav-dropdown .inner > a,.header-type-6 .site-nav .mega-banner .title,.header-type-6 .site-nav .mega-banner .regular-product {color: {{ section.settings.menubar_dropdown_caption }};}    
    .header-type-6 .desktop-megamenu .site-nav-dropdown .inner > a:hover,.header-type-6 .site-nav .mega-menu .product-item .product-title:hover {color: {{ section.settings.menubar_dropdown_caption_hover }};}    
    .header-type-6 .desktop-megamenu .site-nav-dropdown li > a,.header-type-6 .menu-tool .site-nav .site-nav-dropdown li a,.header-type-6 .site-nav .mega-menu .product-item .product-title,.header-type-6 .site-nav .widget-featured-product .widget-title h3,#MobileNav a,.mobile-nav__sublist a,.site-nav .widget-featured-nav .owl-prev a,.site-nav .widget-featured-nav .owl-next a  {color: {{ section.settings.menubar_dropdown_links }};}
    .header-type-6 .desktop-megamenu .site-nav-dropdown li:hover > a,.header-type-6 .menu-tool .site-nav .site-nav-dropdown li a:hover,.header-type-6 .site-nav-dropdown .inner .dropdown a.current,.header-type-6 .menu-tool .site-nav .site-nav-dropdown li a.current,.header-type-6 .site-nav .mega-menu .product-item .product-title:hover,#MobileNav a.current,.mobile-nav__sublist a.current,.site-nav .widget-featured-nav .owl-prev a:hover,.site-nav .widget-featured-nav .owl-next a:hover {color: {{ section.settings.menubar_dropdown_links_hover }};}    
   
    
    {% if section.settings.clr_border_image %} .header-type-6 .site-header__menubar { background-image:url({{ section.settings.menu_border_bg | img_url: 'master' }});background-repeat: no-repeat;background-position:center;   float: left; width: 100%;   } {% endif %}
    .header-type-6 .is-sticky .site-header__menubar:after { background-image:none;height:0; }

    /* Dropdown block */
    .header-type-6 .menubar-section #Togglemodal i {color: {{ section.settings.dropdown_icon }};}
    .header-type-6 .menubar-section #Togglemodal i:hover {color: {{ section.settings.dropdown_icon_hover }};}
    .header-type-6 #slidedown-modal {background: {{ section.settings.dropdown_bg }};}
    .header-type-6 #slidedown-modal ul li a {color:{{section.settings.dropdown_link}};} 
    .header-type-6 #slidedown-modal ul li a:hover {color:{{section.settings.dropdown_hover_link}};} 


    /* Search block */     
    .header-type-6 .search-bar input[type="search"] {color:{{section.settings.search_text }};} 
    .header-type-6 .header-search span  {color:{{section.settings.search_icon}};} 
    .header-type-6 .header-search span:hover {color:{{section.settings.search_icon_hover }};} 


    .header-type-6 .header-search svg {fill:{{section.settings.search_icon}};} 
    .header-type-6 .header-search svg:hover {fill:{{section.settings.search_icon_hover}};} 

    .header-type-6 .search-bar__form, .header-type-6 #SearchDrawer,.header-type-6 .search-bar  {  background:{{section.settings.search_bg }};} 
    
    .header-type-6 .search-bar input[type="search"]::-webkit-input-placeholder  { /* Chrome/Opera/Safari */
      color:{{section.settings.search_text }};
    }
    .header-type-6 .search-bar input[type="search"]::-moz-placeholder { /* Firefox 19+ */
      color:{{section.settings.search_text }};
    }
    .header-type-6 .search-bar input[type="search"]:-ms-input-placeholder { /* IE 10+ */
      color:{{section.settings.search_text }};
    }
    .header-type-6 .search-bar input[type="search"]:-moz-placeholder { /* Firefox 18- */
      color:{{section.settings.search_text }};
    }

    /* Cart Summary block */
    .header-type-6 a.icon-cart-arrow i  {color: {{ section.settings.minicart_icon }};}
    .header-type-6 a.icon-cart-arrow:hover i {color: {{ section.settings.minicart_icon_hover }};}
    .header-type-6 #slidedown-cart .actions, .header-type-6  #slidedown-cart  {background: {{ section.settings.minicart_bg }};}
    .header-type-6 .header-bar__module p {color: {{ section.settings.minicart_text }};}
    .header-type-6 .header-bar__module .btn {color:{{section.settings.minicart_btn_text}};background: {{ section.settings.minicart_btn_bg }};} 
    .header-type-6 .header-bar__module .btn:hover {color:{{section.settings.minicart_btn_hover_text}};background: {{ section.settings.minicart_btn_hover_bg }};} 
    .header-type-6 #slidedown-cart .total .price, .header-type-6 #minicart_total,.header-type-6 #slidedown-cart ul li .cart-collateral {color:{{section.settings.minicart_total }};} 
    .header-type-6 a.icon-cart-arrow i {background:{{section.settings.miniiconcart_cart_bg}};color:{{section.settings.miniiconcart_cart_icon}};}
    .header-type-6 a.icon-cart-arrow i:hover {background:{{section.settings.miniiconcart_cart_hoverbg}};color:{{section.settings.miniiconcart_carthover_icon}};}


    /* Currency block */

    .header-type-6 .myact-detail i {background:{{section.settings.minicart_icon_bg}};color:{{section.settings.login_icon_clr}};}

    .header-type-6 .myact-detail i:hover {background:{{section.settings.login_iconhover_bg}};color:{{section.settings.login_iconhover_clr}};}

    .header-type-6 a.myact-detail:hover{color:{{section.settings.link_hover_clr}};}
    .header-type-6 a.myact-detail,.header-type-6 .myact-detail span {color:{{section.settings.link_login}};}




    .header-type-6 .top_bar li.currency .lang-currency-groups .dropdown-label span,.header-type-6 .lang-currency-groups .dropdown-toggle:after {color:{{section.settings.currency_icon}};}   
    .header-type-6 .top_bar li.currency .lang-currency-groups .dropdown-label:hover span , .header-type-6 .lang-currency-groups .dropdown-toggle:hover::after{color:{{section.settings.currency_icon_hover}};}  
    .header-type-6 .header_currency ul li.currency:hover:after {border-top-color:{{section.settings.currency_icon_hover}};}
    .header-type-6 .header_currency ul li.currency:after {border-top-color:{{section.settings.currency_icon}};}
    .header-type-6 .lang-currency-groups .dropdown-menu {background:{{section.settings.currency_bg}};color:{{section.settings.currency_link}};}

    .header-type-6 .dt-sc-toggle-content {background:{{section.settings.drop_dw_bgclr}};}

    .header-type-6 .inline-list li a {color:{{section.settings.drop_dw_txtclr}};}

    .header-type-6 .inline-list li a:hover {color:{{section.settings.drop_dw_txthoverclr}};}

    .header-type-6 .init:hover {color:{{section.settings.drop_dw_txthoverclr}};}
    /* Header borders */

  }


  @media (max-width: 1199px) {

    {% if section.settings.display_phone_mob %}  .header-type-6 li.phone_no {  display:block;  } 

    {% else %}

    .header-type-6 li.phone_no {  display:none;  } 

    {% endif %}

    {% if section.settings.display_text_mob %}  .header-type-6 .top_bar .menu_bar_center {  display:block;  } 

    {% else %}

    .header-type-6 .top_bar .menu_bar_center {  display:none;  } 

    {% endif %}



  }








</style> 

<script>
  var appendPrependMenuMobile = function() {
    var headerPanelTop = $('.wrapper-container .header-panel-top'),
        headerPc = $('.wrapper-container .header-pc'),
        wrapperNav = $('.wrapper-navigation'),
        areaMb = wrapperNav.find('.mb-area');

    if (window.innerWidth < 1200) {
      headerPanelTop.appendTo(areaMb);
    } else {
      headerPc.prepend(headerPanelTop);
    };
  };

  $(document).ready(function() {
    appendPrependMenuMobile();
  });

  var winWidth = $(window).innerWidth();

  $(window).on('resize', function () {
    var resizeTimerId;

    clearTimeout(resizeTimerId);

    resizeTimerId = setTimeout(function() {
      var curWinWidth = $(window).innerWidth();

      if ((curWinWidth < 1200 && winWidth >= 1200) || (curWinWidth >= 1200 && winWidth < 1200)) {
        appendPrependMenuMobile();
      };
      winWidth = curWinWidth;
    }, 0);
  })


</script>
{% schema %}
{
"name": "Header",
"settings": [
{
"type":"checkbox",
"id": "display_top_bar",
"label": "Display topbar"	
},

{
"type":"checkbox",
"id": "display_search",
"label": "Display search"	
},

{
"type": "checkbox",
"id": "display_minicart",
"label": "Display minicart"
},
{
"type": "checkbox",
"id": "display_wishlist",
"label": "Display wishlist"
},  
{
"type": "header",
"content": "Top Bar"
},
{
"type": "text",
"id": "header_welcome_text",
"label": "Welcome Text",
"default": "Welcome to Mika Shop take away"
},  
{
"type":"checkbox",
"id": "display_text_mob",
"label": "Display Welcome Text on Mobile?",
"default": true

},
{
"type": "text",
"id": "header_help_text",
"label": "Help Text",
"default": "Call us: 0123-456-789:"
},  
{
"type":"checkbox",
"id": "display_phone_mob",
"label": "Display phone on Mobile?",
"default": true
},
{
"type": "color",
"id": "top_bar_bg",
"label": "Top bar background",
"default": "#fff"
},
{
"type": "color",
"id": "top_bar_text",
"label": "Top bar text",
"default": "#000"
},
{
"type": "color",
"id": "top_bar_links",
"label": "Top bar links",
"default": "#000"
},
{
"type": "color",
"id": "top_bar_link_hover",
"label": "Top bar links hover",
"default": "#35b8f4"
},
{
"type": "header",
"content": "Login Block"
},
{
"type": "color",
"id": "link_login",
"label": "Login Text",
"default": "#000"
},
{
"type": "color",
"id": "link_hover_clr",
"label": "Login Link Hover Color",
"default": "#000"
},
{
"type": "color",
"id": "login_icon_clr",
"label": "Login icon Color",
"default": "#e4e4e4"
},
{
"type": "color",
"id": "login_iconhover_clr",
"label": "Login icon Hover Color",
"default": "#e4e4e4"
},
{
"type": "color",
"id": "login_iconhover_bg",
"label": "Login icon Hover Bg Color",
"default": "#e4e4e4"
},
{
"type": "color",
"id": "minicart_icon_bg",
"label": "Login Icon BG",
"default": "#000"
},

{
"type": "text",
"id": "login_sub_txt",
"label": "Note",
"default": "Get all option"
},


{
"type": "header",
"content": "Logo Block"
},
{
"type": "checkbox",
"id": "clr_border_image",
"label": "Bg Image ?"
},
{
"type": "image_picker",
"id": "menu_border_bg",
"label": "Bg Image"

}, 
{
"type": "color",
"id": "logo_bar_bg",
"label": "Background",
"default": "#000"
},
{
"type": "color",
"id": "logo_text",
"label": "Text",
"default": "#000"
},
{
"type": "color",
"id": "logo_hover_text",
"label": "Hover text",
"default": "#000"
},

{
"type": "header",
"content": "Currency Block"
},

{
"type": "color",
"id": "currency_icon",
"label": "Current Text Color",
"default": "#fff"
},
{
"type": "color",
"id": "currency_icon_hover",
"label": "Text hover",
"default": "#35b8f4"
},

{
"type": "header",
"content": "Search Block"
},
{
"type": "color",
"id": "search_icon",
"label": "Icon",
"default": "#000"
},
{
"type": "color",
"id": "search_icon_hover",
"label": "Icon hover",
"default": "#35b8f4"
},
{
"type": "color",
"id": "search_bg",
"label": "Background",
"default": "#fff"
},

{
"type": "color",
"id": "search_text",
"label": "Text",
"default": "#000"
},


{
"type": "header",
"content": "Cart Block"
},
{
"type": "color",
"id": "miniiconcart_cart_bg",
"label": "Cart BG",
"default": "#000"
},
{
"type": "color",
"id": "miniiconcart_cart_icon",
"label": "Cart icon Color",
"default": "#000"
},
{
"type": "color",
"id": "miniiconcart_cart_hoverbg",
"label": "Cart Hover BG",
"default": "#000"
},
{
"type": "color",
"id": "miniiconcart_carthover_icon",
"label": "Cart icon Hover Color",
"default": "#000"
},

{
"type": "color",
"id": "minicart_count",
"label": "Cart Text",
"default": "#000"
},

{
"type": "color",
"id": "minicart_count_hover_text",
"label": "Cart Hover Text",
"default": "#000"
},

{
"type": "color",
"id": "minicart_link",
"label": "Link",
"default": "#000"
},
{
"type": "color",
"id": "minicart_link_hover",
"label": "Link hover",
"default": "#35b8f4"
},

{
"type": "header",
"content": "Menu Block"
},
{
"type": "color",
"id": "menubar_bg",
"label": "Background",
"default": "#fff"
},  

 

{
"type": "color",
"id": "menubar_links",
"label": "Links",
"default": "#000"
},
{
"type": "color",
"id": "menubar_links_hover",
"label": "Hover links",
"default": "#000"
},
{
"type": "color",
"id": "menu_active",
"label": "Active menu",
"default": "#35b8f4"
},


{
"type": "color",
"id": "menubar_dropdown_bg",
"label": "Dropdown menu background",
"default": "#fff"
},
{
"type": "color",
"id": "menubar_dropdown_caption",
"label": "Dropdown menu title",
"default": "#000"
},
{
"type": "color",
"id": "menubar_dropdown_caption_hover",
"label": "Dropdown menu title hover",
"default": "#35b8f4"
},
{
"type": "color",
"id": "menubar_dropdown_links",
"label": "Dropdown menu links",
"default": "#000"
},
{
"type": "color",
"id": "menubar_dropdown_links_hover",
"label": "Dropdown menu links hover",
"default": "#35b8f4"
}
]
}
{% endschema %}
