{% if section.blocks.size > 0 %}
{% assign full = section.settings.full %}
{% assign margin = section.settings.margin | split: ',' %}
{% assign top = margin[0] %}
{% assign bottom = margin[1] %}

{% assign- autoplay = section.settings.autoplay -%}
{% assign- autoplaySpeed = section.settings.slideshow_speed -%}
{% assign- fade = section.settings.slideshow_transition -%}
{% assign- dots =  section.settings.dots -%}
<div class="{% if section.settings.full %} {% else %}container{% endif %}">  
  <div class="home-slideshow-type-1" id="slideshow-{{section.id}}" style="margin-top:{{top}}px; margin-bottom:{{bottom}}px;">
    <div class="variable-width slideshow" {% if section.blocks.size > 1 %} data-init-slideshow data-dots="{{ dots }}" data-autoplay="{{ autoplay }}" data-autoplay-speed="{{ autoplaySpeed }}" data-fade="{{ fade }}"{% endif %}>
      {% for block in section.blocks %}
      {% if block.type == 'style_1' %}
      <div class="slick-list slider_style_1 slider-{{ block.id }}-list"> 
        {% include 'slider-data' %}
        <style> 
          .slider_style_1 .slide-offer-text span {color:{{block.settings.subheading_color}}!important;}
          /* .slider_style_1 .btn:hover {color:{{block.settings.btn_hovertxt_color}}!important;background:{{block.settings.btn_hoverbg_color}}!important;}*/

          @media screen and (min-width: 320px) and (max-width: 767px){
            .slider_style_1.slider-{{ block.id }}-list .slider-content {background:{{ block.settings.mobile_bg_clr | color_modify: 'alpha', 0.85 }};}
          }

        </style>
      </div>
      {% endif %}
      {% if block.type == 'style_2' %}
      <div class="slick-list slider_style_2 slider-{{ block.id }}-list">                
        {% include 'slider-data' %}
        <style> 
          .slider_style_2 .slide-offer-text span {color:{{block.settings.subheading_color}}!important;}

          @media screen and (min-width: 320px) and (max-width: 767px){
            .slider_style_2.slider-{{ block.id }}-list .slider-content {background:{{ block.settings.mobile_bg_clr | color_modify: 'alpha', 0.85 }};}
          }

        </style>
      </div>
      {% endif %}
      {% if block.type == 'style_3' %}
      <div class="slick-list slider_style_3 slider-{{ block.id }}-list">                
        {% include 'slider-data' %}
        <style> 

          .slider_style_3 .slide-offer-text span {color:{{block.settings.title_2_clr}}!important;}

          @media screen and (min-width: 320px) and (max-width: 767px){
            .slider_style_3.slider-{{ block.id }}-list .slider-content {background:{{ block.settings.mobile_bg_clr | color_modify: 'alpha', 0.85  }};}
          }

        </style>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<style>

  {% for block in section.blocks %}
  .home-slideshow-type-1 .slider-{{ block.id }}-list .slide-sub-heading:before,.slider-{{ block.id }}-list .slide-sub-heading:after { background:{{ block.settings.subheading_color  }}; }
  .home-slideshow-type-1 .slider-{{ block.id }}-list .btn {  background:{{ block.settings.btn_bg_color  }};color:{{ block.settings.btn_txt_color }};border:none; }
  .home-slideshow-type-1 .slider-{{ block.id }}-list .btn:hover { background:{{ block.settings.btn_hoverbg_color  }};color:{{ block.settings.btn_hovertxt_color }};border:none; }
  {% endfor %}

  .home-slideshow-type-1 .slick-arrow svg { color: {{ section.settings.navigation_color }}; } 
  .home-slideshow-type-1 .slick-arrow:hover svg, .home-slideshow-type-1 .slick-arrow:focus svg { color: {{ section.settings.navigation_hover_color }}; }  

</style>

{% schema %}
{
"name": "Slideshow Type 1",
"class": "index-section index-slideshow-type-1",
"max_blocks": 10,
"settings": [
{
"type": "header",
"content": "Settings for Slideshow"
},
{
"type": "checkbox",
"id": "full",
"label": "Show Full width"
},
{
"type": "text",
"id": "margin",
"label": "Style value (Margin)",
"default":"0,0",
"info":"Top(px),Bottom(px)"
},
{
"type": "checkbox",
"id": "autoplay",
"label": "Slideshow Auto Play",
"default": true
},
{
"type": "select",
"id": "slideshow_speed",
"label": "Change slides every",

"options": [
{ "value": "5000", "label": "5 seconds" },
{ "value": "6000", "label": "6 seconds" },
{ "value": "7000", "label": "7 seconds" },
{ "value": "8000", "label": "8 seconds" },
{ "value": "9000", "label": "9 seconds" },
{ "value": "10000", "label": "10 seconds" }
],
"default": "5000"
},
{
"type": "select",
"id": "slideshow_transition",
"label": "Slideshow transition effect",
"options": [
{
"value": "false",
"label": "Slide"
},
{
"value": "true",
"label": "Fade"
}
],
"default": "true"
},
{
"type" : "radio",
"id" : "dots",
"label" : "Show Dots for Slideshow (Desktop)",
"options": [
{
"value": "true",
"label": "True"
},
{
"value": "false",
"label": "False"
}
],
"default": "true"
},
{
"type": "color",
"id": "navigation_color",
"label": "Navigation color",
"default": "#000"
},
{
"type": "color",
"id": "navigation_hover_color",
"label": "Navigation Hover color",
"default": "#000"
},
{
"type": "paragraph",
"content": "IMPORTANT: For best results, Upload image : 1920px x 940px recommended. Try to keep your slideshow images the same size,Style 1:Text Align Left,Style 2:Text Align Right,Style 3:Text Align Center"
}
],
"blocks": [
{
"type": "style_1",
"name": "style_1",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "image_picker",
"id": "mobile_image",
"label": "Mobile Image",
"info": "767x750 recommended"
},
{
"type": "color",
"id": "mobile_bg_clr",
"label": "Mobile Bg Color",
"default": "#000"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Heading"
},
{
"type": "color",
"id": "heading_color",
"label": "Heading Color",
"default": "#000"
},
{
"type": "text",
"id": "heading_size",
"label": "Heading Font Size",
"default": "54"
},
{
"type": "text",
"id": "title_2",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"type": "color",
"id": "subheading_color",
"label": "Sub Heading Color",
"default": "#0c0c0c"
},
{
"type": "text",
"id": "subheading_size",
"label": "Subheading Text Size",
"default": "20"
},
{
"type": "textarea",
"id": "desc",
"label": "Desc",
"default": "Short Description"
},
{
"type": "color",
"id": "desc_color",
"label": "Desc Color",
"default": "#0c0c0c"
},
{
"type": "text",
"id": "desc_size",
"label": "Desc Text Size",
"default": "14"
},
{
"type": "text",
"id": "button",
"label": "Slide Button",
"default":"Shop Now"
},
{
"type": "url",
"id": "link",
"label": "Slide link"
},
{
"type": "color",
"id": "btn_bg_color",
"label": "Button Bg Color",
"default": "#532798"
},
{
"type": "color",
"id": "btn_txt_color",
"label": "Button Text Color",
"default": "#fff"
},
{
"type": "color",
"id": "btn_hoverbg_color",
"label": "Button Hover Bg Color",
"default": "#000"
},
{
"type": "color",
"id": "btn_hovertxt_color",
"label": "Button Hover Text Color",
"default": "#fff"
}
]
},
{
"type": "style_2",
"name": "style_2",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "image_picker",
"id": "mobile_image",
"label": "Mobile Image",
"info": "767x750 recommended"
},
{
"type": "color",
"id": "mobile_bg_clr",
"label": "Mobile Bg Color",
"default": "#000"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Heading"
},
{
"type": "color",
"id": "heading_color",
"label": "Heading Color",
"default": "#000"
},
{
"type": "text",
"id": "heading_size",
"label": "Heading Font Size",
"default": "54"
},
{
"type": "text",
"id": "title_2",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"type": "color",
"id": "subheading_color",
"label": "Sub Heading Color",
"default": "#0c0c0c"
},
{
"type": "text",
"id": "subheading_size",
"label": "Subheading Text Size",
"default": "20"
},
{
"type": "textarea",
"id": "desc",
"label": "Desc",
"default": "Short Description"
},
{
"type": "color",
"id": "desc_color",
"label": "Desc Color",
"default": "#0c0c0c"
},
{
"type": "text",
"id": "desc_size",
"label": "Desc Text Size",
"default": "14"
},
{
"type": "text",
"id": "button",
"label": "Slide Button",
"default":"Shop Now"
},
{
"type": "url",
"id": "link",
"label": "Slide link"
},
{
"type": "color",
"id": "btn_bg_color",
"label": "Button Bg Color",
"default": "#532798"
},
{
"type": "color",
"id": "btn_txt_color",
"label": "Button Text Color",
"default": "#fff"
},
{
"type": "color",
"id": "btn_hoverbg_color",
"label": "Button Hover Bg Color",
"default": "#000"
},
{
"type": "color",
"id": "btn_hovertxt_color",
"label": "Button Hover Text Color",
"default": "#fff"
}
]
},
{
"type": "style_3",
"name": "style_3",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "image_picker",
"id": "mobile_image",
"label": "Mobile Image",
"info": "767x750 recommended"
},
{
"type": "color",
"id": "mobile_bg_clr",
"label": "Mobile Bg Color",
"default": "#000"
},
{
"type": "text",
"id": "title",
"label": "Heading",
"default": "Heading"
},
{
"type": "color",
"id": "heading_color",
"label": "Heading Color",
"default": "#000"
},
{
"type": "text",
"id": "heading_size",
"label": "Heading Font Size",
"default": "54"
},
{
"type": "text",
"id": "title_2",
"label": "Sub Heading",
"default": "Sub Heading"
},
{
"type": "color",
"id": "subheading_color",
"label": "Sub Heading Color",
"default": "#0c0c0c"
},
{
"type": "text",
"id": "subheading_size",
"label": "Subheading Text Size",
"default": "20"
},
{
"type": "textarea",
"id": "desc",
"label": "Desc",
"default": "Short Description"
},
{
"type": "color",
"id": "desc_color",
"label": "Desc Color",
"default": "#0c0c0c"
},
{
"type": "text",
"id": "desc_size",
"label": "Desc Text Size",
"default": "14"
},
{
"type": "text",
"id": "button",
"label": "Slide Button",
"default":"Shop Now"
},
{
"type": "url",
"id": "link",
"label": "Slide link"
},
{
"type": "color",
"id": "btn_bg_color",
"label": "Button Bg Color",
"default": "#532798"
},
{
"type": "color",
"id": "btn_txt_color",
"label": "Button Text Color",
"default": "#fff"
},
{
"type": "color",
"id": "btn_hoverbg_color",
"label": "Button Hover Bg Color",
"default": "#000"
},
{
"type": "color",
"id": "btn_hovertxt_color",
"label": "Button Hover Text Color",
"default": "#fff"
}
]
}
],
"presets": [
{
"name": "Slideshow Type 1",
"category": "Slider"
}
]
}
{% endschema %}