{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
{% endcomment %}
{% unless shop.password_message == blank %}
  <div class="password-message">
    {{ shop.password_message }}
  </div>
{% endunless %}

{% if settings.pwd_newsletter_enable %}
  {% form 'customer' %}
    {{ form.errors | default_errors }}
    {% if form.posted_successfully? %}
      <ul class="form--success">
        <li>{{ 'general.password_page.signup_form_success' | t }}</li>
      </ul>
    {% else %}
      <p class="password__form-heading h4">
        {{ settings.pwd_newsletter_form_heading }}
      </p>
      <input type="hidden" name="contact[tags]" value="prospect, password page">
      <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
      <div class="input-group password__input-group">
        <input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ settings.pwd_newsletter_placeholder }}">
        <span class="input-group__btn">
          <button type="submit" name="commit" class="btn">
            <span>{{ settings.pwd_newsletter_button_text }}</span>
          </button>
        </span>
      </div>
    {% endif %}
  {% endform %}
{% endif %}

