{% unless page.metafields.img_contact.img_contact == blank and page.metafields.img_contact_m.img_contact_m == blank %}
<div class="contact-hero-section">  
  {% for image in page.metafields.img_contact.img_contact %}
  	<img src="{{ image.src }}" class="lazyload medium-down--hide" alt="{{ image.alt }}" />  
  {% endfor %}  
  {% for mobile_image in page.metafields.img_contact_m.img_contact_m %}
  	<img src="{{ mobile_image.src }}" class="lazyload wide--hide post-large--hide large--hide" alt="{{ mobile_image.alt }}" />  
  {% endfor %}    
</div>
{% endunless %}
<div class="page-content text-center">
  <div class="container">
    <div class="dt-sc-hr-invisible-large"></div>
    <div class="section-header">
      <h1 class="section-header--title">      
        {{ page.title }}          
      </h1>
    </div>
    <div class="rte">
      {{ page.content }}
    </div>          
    {% unless page.metafields.accentuate.link_btn_contact == blank and page.metafields.accentuate.btn_label_contact == blank %}
    <div class="dt-sc-hr-invisible-medium"></div>
    <div><a class="btn btn-primary" href="{{ page.metafields.accentuate.link_btn_contact }}">{{ page.metafields.accentuate.btn_label_contact }}</a></div>
    {% endunless %}
    <div class="dt-sc-hr-invisible-large"></div>
  </div>  
</div>
<div class="contact-page">
  <div class="dt-sc-hr-invisible-large"></div>
  <div class="container">
    <div class="border-line" style="background-color: #bdbdbd;"></div>    
    {% section 'contact' %}
  </div>
  <div class="dt-sc-hr-invisible-large"></div>
</div>
{% section 'contact-grid-banner' %}
